# Tasks

Consolidate the data so that we do not double count plays coming from feeds that belong to the same station
   If you do not find the parent station for a given feed, just default to the feed info and use that as your 'station' instead.

# Importing Libraries

In [2]:
import pandas as pd

# Reading Data

Copying dataset to new data frames so we won't change original dataset

In [3]:
radio_station =pd.read_csv('feed_station_mapping.csv')

radiostation_df = radio_station.copy()

In [4]:
consumption =pd.read_csv('consumption_data.csv')

consumption_df = consumption.copy()

# Looking at data frames structure

In [5]:
radiostation_df.head()

      Feed_Id            SMP_Station
0  feed_id_01  smp_station_name_1027
1  feed_id_02    smp_station_name_94
2  feed_id_03   smp_station_name_500
3  feed_id_04   smp_station_name_346
4  feed_id_06   smp_station_name_732

In [6]:
radiostation_df.shape

(1125, 2)

In [7]:
consumption_df.head()

,Stamp,Track,Artist,Feed_Id,Feed_Name
0,2019-06-07 18:38:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183
1,2019-06-08 09:04:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183
2,2019-06-08 19:51:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183
3,2019-06-09 20:52:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183
4,2019-06-10 11:06:00 +0000 UTC,Song_02,artist_08,feed_id_1377,feed_name_1183

In [8]:
consumption_df.shape

(521974, 5)

# Looking for Missing values

Both data frames look pretty good as they don't have any missing values

In [9]:
radiostation_df.isnull().sum()

Feed_Id        0
SMP_Station    0
dtype: int64

In [10]:
consumption_df.isnull().sum()

Stamp        0
Track        0
Artist       0
Feed_Id      0
Feed_Name    0
dtype: int64

# Looking for Duplicate Values

In [11]:
radiostation_df.Feed_Id.nunique()

1125

In [12]:
radiostation_df.Feed_Id.duplicated().sum()

0

In [13]:
radiostation_df.SMP_Station.duplicated().sum()

3

In [14]:
radiostation_df.loc[radiostation_df.SMP_Station.duplicated(), :]

         Feed_Id            SMP_Station
616  feed_id_396  smp_station_name_1068
758  feed_id_557   smp_station_name_722
895  feed_id_736   smp_station_name_154

### Before Consolidating both data frames I found that there are more feed_ids in consumption data frame than radio station mapping data frame

In [15]:
radiostation_df.SMP_Station.nunique()

1122

In [16]:
consumption_df.Feed_Id.nunique()

1479

# Consolidating the data

### Creating new data frame to have consolidated data

In [17]:
radioconsumption_df = pd.merge(radiostation_df, consumption_df, how='right')

In [18]:
radioconsumption_df.shape

(521974, 6)

In [19]:
radioconsumption_df.columns

Index(['Feed_Id', 'SMP_Station', 'Stamp', 'Track ', 'Artist', 'Feed_Name'], dtype='object')

In [20]:
radioconsumption_df.head()

,Feed_Id,SMP_Station,Stamp,Track,Artist,Feed_Name
0,feed_id_1377,smp_station_name_294,2019-06-07 18:38:00 +0000 UTC,Song_02,artist_08,feed_name_1183
1,feed_id_1377,smp_station_name_294,2019-06-08 09:04:00 +0000 UTC,Song_02,artist_08,feed_name_1183
2,feed_id_1377,smp_station_name_294,2019-06-08 19:51:00 +0000 UTC,Song_02,artist_08,feed_name_1183
3,feed_id_1377,smp_station_name_294,2019-06-09 20:52:00 +0000 UTC,Song_02,artist_08,feed_name_1183
4,feed_id_1377,smp_station_name_294,2019-06-10 11:06:00 +0000 UTC,Song_02,artist_08,feed_name_1183

### Further clean the data as you deem approriate in order to perform an analysis on this dataset

# Renaming Attributes

In [21]:
radioconsumption_df.rename(
    columns={
        "Feed_Id": "Feed_Id",
        "SMP_Station": "Radio_Station",
        "Stamp": "Time_Stamp",
        "Track": "Song",
        "Artist": "Artist",
        "Feed_Name": "Feed_Name"
        
    },
    inplace=True
)

# Looking for Null values

In [22]:
radioconsumption_df['Radio_Station'].isnull().sum()

35174

In [23]:
radioconsumption_df.loc[radioconsumption_df['Radio_Station'].isnull()]

,Feed_Id,Radio_Station,Time_Stamp,Track,Artist,Feed_Name
387446,feed_id_569,NaN,2019-01-16 03:44:25 +0000 UTC,Song_01,artist_02,feed_name_93
387447,feed_id_569,NaN,2019-01-01 01:34:12 +0000 UTC,Song_04,artist_07,feed_name_93
387448,feed_id_569,NaN,2019-01-09 06:27:42 +0000 UTC,Song_04,artist_07,feed_name_93
387449,feed_id_569,NaN,2019-01-11 09:09:31 +0000 UTC,Song_04,artist_07,feed_name_93
387450,feed_id_569,NaN,2019-01-16 00:40:36 +0000 UTC,Song_04,artist_07,feed_name_93
...,...,...,...,...,...,...
422615,feed_id_663,NaN,2020-08-17 05:00:53 +0000 UTC,Song_04,artist_07,feed_name_915
422616,feed_id_663,NaN,2020-09-03 23:56:57 +0000 UTC,Song_04,artist_07,feed_name_915
422617,feed_id_663,NaN,2020-09-27 03:30:52 +0000 UTC,Song_04,artist_07,feed_name_915
422618,feed_id_663,NaN,2020-08-06 02:30:10 +0000 UTC,Song_08,artist_01,feed_name_915
422619,feed_id_663,NaN,2020-07-01 02:44:26 +0000 UTC,Song_05,artist_03,feed_name_915

### Created mapping for Radio Station for Feed_Ids

In [24]:
radioconsumption_df["Radio_Station"].fillna("smp_station_name_abu", inplace = True)

In [25]:
radioconsumption_df.head()

,Feed_Id,Radio_Station,Time_Stamp,Track,Artist,Feed_Name
0,feed_id_1377,smp_station_name_294,2019-06-07 18:38:00 +0000 UTC,Song_02,artist_08,feed_name_1183
1,feed_id_1377,smp_station_name_294,2019-06-08 09:04:00 +0000 UTC,Song_02,artist_08,feed_name_1183
2,feed_id_1377,smp_station_name_294,2019-06-08 19:51:00 +0000 UTC,Song_02,artist_08,feed_name_1183
3,feed_id_1377,smp_station_name_294,2019-06-09 20:52:00 +0000 UTC,Song_02,artist_08,feed_name_1183
4,feed_id_1377,smp_station_name_294,2019-06-10 11:06:00 +0000 UTC,Song_02,artist_08,feed_name_1183